/* All CSS attributes go here! */

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
      #table{
        background-color: #d3d3d3;
        z-index: 10;
        position: absolute;
        right: 15px;
        top:50px;
        height: 320px;
        width: 200px;
        box-shadow:  5px 5px 3px #828282;
        font-family: 'Calibri';
        color: black;
        padding-left: 10px;
      }
      .drop{
        margin-left: 50px;
      }

      .drop, .drop1{
        margin-top: 10px;
      }

      .drop2{
        margin-left: 65px;
        margin-top: 5px; 
        margin-bottom: 10px;
      }


      /* legend for school colors */
      .legend {
        list-style: none;
        padding-left: 5px;
      }
      .legend li {
        float: left;
        margin-right: 10px;
      }
      .legend span {
        border: 1px solid #ccc;
        float: left; width: 12px;
        height: 12px; margin: 2px;
      }

      /* colors */
      .legend .uiuc {
        background-color: #DC143C;
        opacity: 0.6;
      }
      .legend .illinois-state {
        background-color: #0000ff;
        opacity: 0.6;
      }
      .legend .champaign {
        background-color: #00e5ee;
        opacity: 0.6;
      }
      .legend .parkland {
        background-color: #663300;
        opacity: 0.6;
      }
      .legend .chicago {
        background-color: #ffa500;
        opacity: 0.6;
      }
      .legend .loyola {
        background-color: #00ff00;
        opacity: 0.6;
      }
      .legend .other {
        background-color: #000000;
        opacity: 0.6;
      }
